apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: n8n
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://charts.bitnami.com/bitnami
    chart: n8n
    targetRevision: "*"  # pin a version when desired
    helm:
      releaseName: n8n
      # Keep this in sync with values.yaml (not referenced directly by Argo CD)
      values: |
        service:
          type: ClusterIP
          ports:
            http: 5678
        ingress:
          enabled: false
          # hostname: <YOUR_FQDN>
          # tls: true
        persistence:
          enabled: true
          size: 10Gi
          storageClass: default
        extraEnvVars:
          - name: DB_TYPE
            value: postgresdb
          - name: DB_POSTGRESDB_HOST
            valueFrom:
              secretKeyRef:
                name: n8n-db
                key: host
          - name: DB_POSTGRESDB_PORT
            valueFrom:
              secretKeyRef:
                name: n8n-db
                key: port
          - name: DB_POSTGRESDB_DATABASE
            valueFrom:
              secretKeyRef:
                name: n8n-db
                key: dbname
          - name: DB_POSTGRESDB_USER
            valueFrom:
              secretKeyRef:
                name: n8n-db
                key: username
          - name: DB_POSTGRESDB_PASSWORD
            valueFrom:
              secretKeyRef:
                name: n8n-db
                key: password
          - name: N8N_ENCRYPTION_KEY
            valueFrom:
              secretKeyRef:
                name: n8n-encryption
                key: N8N_ENCRYPTION_KEY
  destination:
    server: https://kubernetes.default.svc
    namespace: n8n
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
